.elementor-column-percents-tooltip[data-side='right'] {
	border-radius: 0 3px 3px 0;
	left: 15px;
}

.elementor-column-percents-tooltip[data-side='left'] {
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	right: 15px;
}

.elementor-column-percents-tooltip {
	position: absolute;
	display: none;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 10px;
	background-color: #556068;
	width: 40px;
	padding: 3.5px 0;
	text-align: center;
	z-index: 1;
	line-height: 1;
}
.elementor-column-percents-tooltip[data-side='right']:after {
	right: 100%;
	border-right-color: #556068;
	border-left-width: 0;
}
.elementor-column-percents-tooltip:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 8.5px solid transparent;
	top: 0;
}
