.liteyear__highlight,.liteyear__hint,.liteyear__overlay {
    pointer-events: none;
    position: absolute;
    border: 1px solid #59C5C6
}

@keyframes smoke {
    from {
        background-color: rgba(89,197,198,0)
    }

    to {
        background-color: rgba(89,197,198,.5)
    }
}

.liteyear__tooltip {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 5px;
    background-color: #59C5C6;
    font-size: 9px;
    line-height: 9px;
    text-transform: uppercase;
    font-family: Verdana;
    font-weight: 700;
    color: #FFF
}

.liteyear__overlay {
    z-index: 16777271;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.4)
}

.liteyear__hint {
    z-index: 16777272;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease
}

.liteyear__highlight {
    z-index: 16777270;
    background: rgba(89,197,198,.2);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease
}

.liteyear__overlay--clicked {
    animation-name: smoke;
    animation-duration: .2s;
    animation-iteration-count: 1
}

.liteyear__editmode {
    background: rgba(0,0,0,.8);
    color: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    font-family: Arial;
    font-size: 13px;
    z-index: 999
}

.liteyear__editmode:hover {
    color: #FFF;
    background: #09b3af
}

.liteyear__offcanvas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    z-index: 9999;
    -webkit-box-shadow: -5px 0 65px 0 rgba(0,0,0,.35);
    -moz-box-shadow: -5px 0 65px 0 rgba(0,0,0,.35);
    box-shadow: -5px 0 65px 0 rgba(0,0,0,.35)
}

.liteyear__content {
    background: #fff;
    height: 100%
}

.liteyear__close,.liteyear__resizer {
    width: 54px;
    height: 54px;
    position: absolute;
    line-height: 54px;
    background-color: #FFF;
    border-left: 1px solid #e0e0e0;
    font-size: 20px;
    text-align: center;
    cursor: pointer
}

.liteyear__close {
    display: block;
    color: #000;
    top: 0;
    right: 0
}

.liteyear__resizer {
    right: -55px;
    top: 54px;
    border-top: 1px solid #e0e0e0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.liteyear__editicon {
    cursor: pointer;
    max-width: 16px;
    width: 16px;
    max-height: 16px;
    height: 16px;
    border: 0;
    line-height: 0;
    z-index: 998;
    position: relative
}

.liteyear__tip {
    position: absolute;
    color: #FFF;
    background-color: rgba(0,0,0,.8);
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding: 0 15px;
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 12px
}

.liteyear--outlined .liteyear__outline {
    outline: rgba(0,0,0,.3) dashed 1px;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.5)
}

.liteyear__widget {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    border-right: 1px solid #000;
    -webkit-transition: width .5s;
    transition: width .5s;
    overflow: hidden;
    z-index: 1001
}

.liteyear__widget iframe {
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 380px
}

.liteyear__widget.liteyear--open {
    width: 380px
}

.liteyear__toggle {
    position: fixed;
    width: 54px;
    height: 54px;
    line-height: 54px;
    display: block;
    text-align: center;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 7px 0 0;
    box-sizing: border-box
}

.liteyear__toggle:hover {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"
}

div[data-blok] {
    line-height: 0;
    display: none
}
