$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$blue: #eb6864 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #f57a00 !default;
$orange: #fd7e14 !default;
$yellow: #f5e625 !default;
$green: #22b24c !default;
$teal: #20c997 !default;
$cyan: #369 !default;

$classicBlue: #0e4c80;
$coralEssence: #f56f60;
$limePunch: #c0d826;
$jasmineGreen: #7ec846;
$cashmereBlue: #a5b8d0;
$pinkTint: #dccbbd;
$coconutMilk: #f0ede6;
$pirateBlack: #363838;

$livingColar: #ff7061;
$barrierReef: #0184a1;
$deepLake: #00656b;
$chiveBlossom: #7d5d99;
$sulphurSpring: #d5d717;
$vivacious: #a32757;
$pinkLemonade: #ee6c8a;

$primary: $livingColar !default;
$secondary: $gray-500 !default;
$success: $chiveBlossom !default;
$info: $barrierReef !default;
$warning: $sulphurSpring !default;
$danger: $vivacious !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
$body-bg: lighten($primary, 29.9%) !default;

$palette: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
) !default;


$yiq-contrasted-threshold: 175 !default;
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

// Color contrast
@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
	$r: red($color);
	$g: green($color);
	$b: blue($color);

	$yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

	@if ($yiq >= $yiq-contrasted-threshold) {
		@return $dark;
	} @else {
		@return $light;
	}
}
